body {
    font-family: "Helvetica";
    text-align: center;
    margin: 0;
}

header {
    width: 100%;
    text-align: left;
    background: #003354;
    padding: 5px;
    color: #F26101;
}

header h1 {
    font-size: 4em;
    margin: 10px;
}

.counter {
    font-size: 4em;
    color: #F26101;
}

#chart {
    margin: 20px auto;
    clear: both;
    width: 80%;
    height: 400px;
}

#logo {
    height: 100px;
    float: left;
    margin-right: 30px;
}