Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: iRN <info@columbo.nl>
Description: Politie Grumpy-Old-Man LorgnetteConnector
Distribution: development
